html, body {
    height: 100%;
}

.pothole_img {
    
}

.fill {
    height: 100%;
}

.pull-center {
        text-align: center;
}
.pull-center > .nav {
    float:none;
    display:inline-block;
    *display: inline; *zoom: 1;
    /*height: 32px; */
}

.fill-height {
    height: 100%;
}

.fill-width {
    width: 100%;
}

.fill-half-width {
    width: 50%;
}

.spacer {
    margin-top: 10px; /* define margin as you see fit */
}

img {
   height:80%;
    width:50%;
}

.align-bottom{
    display: table-cell;
    vertical-align: bottom;
    float: none;
}    

.btn-tag
{
    min-width:150px
}
