<div class="fill">
    <h2>Account Settings</h2>
    <form>
      <fieldset>
        <label>Name</label>
        <input type="text" placeholder="Name...">
        <label>Email</label>
        <input type="text" placeholder="Email...">
        <label>Address</label>
        <input type="text" placeholder="Street / Apt #...">
        <input type="text" placeholder="City...">
        <input type="text" placeholder="Zip...">
        <label class="checkbox">
          <input type="checkbox">Use this devices phone number
        </label>
        <input type="text" disabled placeholder="555-555-5555">
        <label>Tag and Buyer Settings</label>
        <span class="help-block"></span>
        <label class="checkbox">
          <input type="checkbox">Auto submit tags to nearest buyer
        </label>
        <button type="submit" class="btn">Update Account</button>
      </fieldset>
    </form>
</div>