   
        <div class="well">
        <label>Contact Info</label>
        <div class="row-fluid">
            <div>
                <input type="text" placeholder="First Name">
            </div>
            <div>
                <input type="text" placeholder="Last Name">
            </div>
            <div>
                <input type="text" placeholder="Email">
            </div>
            <div>
                <label class="checkbox">
                    <input type="checkbox" checked>Use device phone number
                </label>
            </div>
            <div>
                <input type="text" disabled placeholder="Phone Number">
            </div>
        </div>
    
            <label>Payment Info</label>
            <div class="row-fluid">
                <div>
                    <input type="text" placeholder="Street / Apt Number"> 
                </div>
                <div>
                    <input type="text" placeholder="City">
                </div>
                <div>
                    <input type="text" placeholder="State">
                </div>
                <div>
                     <input type="text" placeholder="Zip">
                </div>
            </div>
        </div>
          
        <div class="row-fluid">
            <div>
                 <button type="submit" class="fill-width btn-large btn-success">Update Account</button>
            </div>
            <div class="spacer">
                <button type="submit" class="fill-width btn-large btn-danger">Delete Account</button>
            </div>       
        </div>
