<div class="fill">
    <h2>Account Settings</h2>
    <form class="form">
      <fieldset>
        <div class="row">
            <div class="span12">
                <input class="fill-width" type="text" placeholder="First Name">
            </div>
            <div class="span12">
                <input class="fill-width" type="text" placeholder="Last Name">
            </div>
            <div class="span12">
                <input class="fill-width"type="text" placeholder="Email">
            </div>
            <div class="span12">
                <label class="checkbox">
                    <input type="checkbox" checked>Use device phone number
                </label>
            </div>
            <div class="span12">
                <input class="fill-half-width" type="text" disabled placeholder="Phone Number">
            </div>
        </div>       
                    
                    
        <div class="well">
            <label>Payment Info</label>
            <div class="row">
                <div class="span12">
                    <input class="fill-width" type="text" placeholder="Street / Apt Number"> 
                </div>
                <div class="span12">
                    <input class="fill-width" type="text" placeholder="City">
                </div>
                <div class="span12">
                    <input class="fill-width" type="text" placeholder="State">
                </div>
                <div class="span12">
                     <input class="fill-width" type="text" placeholder="Zip">
                </div>
            </div>
        </div>
          
        <div class="well">
            <label>Tag and Buyer Settings</label>
        </div>

          
        <div class="row">
            <div class="span12">
                <button type="submit" class="btn-large btn-success fill-width">Update Account</button>
            </div>
            <div class="span12 spacer">
                <button type="submit" class="btn-large btn-danger fill-width">Delete Account</button>
            </div>
        </div>
        </fieldset>
    </form>
</div>