<div class="well">    
    <h3>Total Earned: $65</h3>
</div>
    
    <div class="row">
        <div class="history-img">
            <img class="img-rounded" src="img/pothole1.jpg"/>
        </div>
        <div class="row history-row">
           <span class="span-history-price">$5</span><span class="span-history-date">July 24, 2013</span> <span class="span-history-location">Shoprite Hoboken, NJ</span>
        </div>
    </div>
    
   <div class="row">
        <div class="history-img">
            <img class="img-rounded" src="img/pothole2.jpg"/>
        </div>
        <div class="row history-row">
            <span class="span-history-price">$5</span><p class="span-history-date">July 24, 2013</p><span class="span-history-location">Shoprite Hoboken, NJ</span>
        </div>
    </div>

   <div class="row">
        <div class="history-img">
            <img class="img-rounded" src="img/pothole3.jpg"/>
        </div>
        <div class="row history-row">
            <span class="span-history-price">$5</span><p class="span-history-date">July 24, 2013</p><span class="span-history-location">Shoprite Hoboken, NJ</span>
        </div>
    </div>

   <div class="row">
        <div class="history-img">
            <img class="img-rounded" src="img/pothole4.jpg"/>
        </div>
        <div class="row history-row">
            <span class="span-history-price">$0</span><p class="span-history-date">July 24, 2013</p><span class="span-history-location">Shoprite Hoboken, NJ</span>
        </div>
    </div>

   <div class="row">
        <div class="history-img">
            <img class="img-rounded" src="img/pothole5.bmp"/>
        </div>
        <div class="row history-row history-row-last-item">
            <span class="span-history-price">$0</span><p class="span-history-date">July 24, 2013</p><span class="span-history-location">Shoprite Hoboken, NJ</span>
        </div>
    </div>
       