<div class="fill">
    <h2>Tag History</h2>
    <div class="well">
        <h3>Total Earned: $65</h3>
    </div>
    <table class="table">
        <tr>
            <td>Earned ($)</td>
            <td>Location</td>
            <td>Date</td>
            <td></td>
        </tr>
        <tr>
            <td>$5</td>
            <td>Shoprite - Hoboken, NJ</td>
            <td>May 13th 2013</td>
            <td><a class="btn btn-success"><i class="icon-camera icon-white"></i></a></td>
        </tr>
        <tr>
            <td>$20</td>
            <td>Sparrow Wine- Hoboken, NJ</td>
            <td>May 13th 2013</td>
            <td><a class="btn btn-success"><i class="icon-camera icon-white"></i></a></td>
        </tr>
        <tr>
            <td>$10</td>
            <td>CVS - Red Bank, NJ</td>
            <td>May 10th 2013</td>
            <td><a class="btn btn-success"><i class="icon-camera icon-white"></i></a></td>
        </tr>
        <tr>
            <td>$15</td>
            <td>Trader Joes - Red Bank, NJ</td>
            <td>May 10th 2013</td>
            <td><a class="btn btn-success"><i class="icon-camera icon-white"></i></a></td>
        </tr>
        <tr>
            <td>$15</td>
            <td>Public Parking - Red Bank, NJ</td>
            <td>May 10th 2013</td>
            <td><a class="btn btn-success"><i class="icon-camera icon-white"></i></a></td>
        </tr>
    </table>
</div>