<p> History View: {{ status }} </p>
<table class="table">
    <th>
        <tr>
            <td>Date</td>
            <td>City</td>
            <td>Business</td>
        </tr>
    </th>
    <tr>
        <td>May 13th 2013</td>
        <td>Hoboken</td>
        <td>Shoprite</td>
        <td><a class="btn-small btn-success"><i class="icon-camera icon-white"></i></a></td>
    </tr>
    <tr class="success">
        <td>May 13th 2013</td>
        <td>Hoboken</td>
        <td>Sparrow Wine</td>
        <td><a class="btn-small btn-success"><i class="icon-camera icon-white"></i></a></td>
    </tr>
    <tr class="success">
        <td>May 10th 2013</td>
        <td>Red Bank</td>
        <td>CVS</td>
        <td><a class="btn-small btn-success"><i class="icon-camera icon-white"></i></a></td>
    </tr>
    <tr class="success">
        <td>May 10th 2013</td>
        <td>Red Bank</td>
        <td>Trader Joes</td>
        <td><a class="btn-small btn-success"><i class="icon-camera icon-white"></i></a></td>
    </tr>
    <tr>
        <td>May 10th 2013</td>
        <td>Red Bank</td>
        <td>Public Parking</td>
        <td><a class="btn-small btn-success"><i class="icon-camera icon-white"></i></a></td>
    </tr>
</table>