
    <div class="row-fluid">
        <div class="offset 1span10">
            <h3>Tag a pothole</h3>
        </div>
       <div class="pagination-centered">
           <img class="img-rounded" ng-src="{{imgSource}}" />
        </div>
        <div class="pagination-centered">
            <h4>Location (lat,long): {{location}}</h4>
        </div>
    </div>
    <div class="row-fluid spacer">
<!--
        <div>    
            <button id="btnTakePic" class="fill-width btn-large btn-success btn-tag disabled" href="#" ng-click="takePicture()" disabled="disabled"><i class="icon-camera icon-white"></i></button>
        </div>
-->
        <div class="spacer">
            <button class="fill-width btn-large btn-info btn-tag" href="#" ng-click="tagPicture()"><i class="icon-tag icon-white"></i></button>
        </div>
    </div>




