<div class="fill">
    <h2>Tag a Pothole</h2>
    <div class="row-fluid">
        <div class="span2 offset5">
            <img ng-src="{{imgSource}}">
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span1 offset5">
            <button class="btn-large btn-primary btnTakePicture" href="#" ng-click="takePicture()" ng-disabled="{{isCameraReady}}"><i class="icon-camera icon-white"></i></button>
        </div>
        <div class="span1">
            <button class="btn-large btn-success" href="#" ng-click="tagPicture()"><i class="icon-tag icon-white"></i></button>
        </div>
    </div>
</div>

